Repository arkonsolutions/checklist-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run stylelint, eslint --fix

screen orientation
  CHANGELOG.md
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/global.scss
  src/styles/_components.scss
  src/styles/utilities/_responsive.scss
Due: prettier --write, npm run stylelint

bump version to 0.0.18
  package-lock.json
  package.json
Due: prettier --write

check updates base action
  CHANGELOG.md
  src/app/modules/settings-store/settings.actions.ts
  src/app/modules/settings-store/settings.reducers.ts
  src/app/modules/settings-store/settings.selectors.ts
  src/app/modules/settings-store/settings.state.ts
  src/app/modules/settings/pages/settings-page/settings-page.component.html
  src/app/modules/settings/pages/settings-page/settings-page.component.ts
  src/app/store/app.actions.ts
  src/app/store/app.reducers.ts
  src/app/store/app.selectors.ts
  src/app/store/app.state.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/ru-RU.json
Due: prettier --write, eslint --fix

export import format
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  db/checklists.db
  package-lock.json
  package.json
  src/app/models/exchange-set.model.ts
  src/app/modules/data-base-service/sqlite-native-data-base.service.ts
  src/app/modules/sync-store/sync.effects.ts
  src/assets/i18n/ru-RU.json
Due: prettier --write, eslint --fix

new version db migrations
  CHANGELOG.md
  README.md
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  db/checklists.db
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/migrations/migrations.ts
  src/app/models/migration.model.ts
  src/app/modules/data-base-service/sqlite-native-data-base.service.ts
  src/app/services/migration.service.spec.ts
  src/app/services/migration.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

before downloader install
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  src/app/models/app-version.interface.ts
  src/app/services/migration.service.ts
  src/app/services/remote-api.service.ts
  src/app/store/app.actions.ts
  src/app/store/app.effects.ts
  src/app/store/app.reducers.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/ru-RU.json
Due: prettier --write, eslint --fix

before translations preloading
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/xml/config.xml
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/models/app-version.interface.ts
  src/app/modules/settings-store/settings.effects.ts
  src/app/services/remote-api.service.ts
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

fixed language init blinking
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/modules/settings-store/settings.effects.ts
  src/app/store/app.actions.ts
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

optimized initial language switch
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/modules/settings-store/settings.effects.ts
Due: prettier --write, eslint --fix

bump version to 0.0.21
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fixed ui language null exception
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/xml/config.xml
  src/app/app.module.ts
Due: prettier --write, eslint --fix

update file downloading
  README.md
  android/app/src/main/res/xml/config.xml
  config.xml
  ios/App/App/config.xml
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/modules/settings-store/settings.effects.ts
  src/app/modules/settings/pages/settings-page/settings-page.component.html
  src/app/modules/settings/pages/settings-page/settings-page.component.ts
  src/app/store/app.actions.ts
  src/app/store/app.effects.ts
  src/app/store/app.reducers.ts
  src/app/store/app.selectors.ts
  src/app/store/app.state.ts
Due: prettier --write, eslint --fix

installed fileopener
  README.md
  android/app/capacitor.build.gradle
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/xml/config.xml
  ios/App/App/config.xml
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

bump version to 0.0.22
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/modules/settings/pages/settings-page/settings-page.component.html
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

removed online status notify
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

android app name set up
  CHANGELOG.md
  android/.idea/misc.xml
  android/app/src/main/res/values/strings.xml
  package-lock.json
Due: prettier --write

generated icons
  README.md
  android/.idea/misc.xml
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  config.xml
  resources/android/icon-background.png
  resources/android/icon-foreground.png
  resources/android/icon/hdpi-background.png
  resources/android/icon/hdpi-foreground.png
  resources/android/icon/ldpi-background.png
  resources/android/icon/ldpi-foreground.png
  resources/android/icon/mdpi-background.png
  resources/android/icon/mdpi-foreground.png
  resources/android/icon/xhdpi-background.png
  resources/android/icon/xhdpi-foreground.png
  resources/android/icon/xxhdpi-background.png
  resources/android/icon/xxhdpi-foreground.png
  resources/android/icon/xxxhdpi-background.png
  resources/android/icon/xxxhdpi-foreground.png
Due: prettier --write

localized app name generated icons
  android/.idea/misc.xml
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values-ru/strings.xml
  resources/android/icon-background.png
  resources/android/icon/drawable-hdpi-icon.png
  resources/android/icon/drawable-ldpi-icon.png
  resources/android/icon/drawable-mdpi-icon.png
  resources/android/icon/drawable-xhdpi-icon.png
  resources/android/icon/drawable-xxhdpi-icon.png
  resources/android/icon/drawable-xxxhdpi-icon.png
  resources/android/icon/hdpi-background.png
  resources/android/icon/ldpi-background.png
  resources/android/icon/mdpi-background.png
  resources/android/icon/xhdpi-background.png
  resources/android/icon/xxhdpi-background.png
  resources/android/icon/xxxhdpi-background.png
  resources/icon.png
  src/assets/i18n/ru-RU.json
Due: prettier --write

icon correct sized
  README.md
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/values/ic_launcher_background.xml
  resources/android/icon-foreground.png
  resources/android/icon/drawable-hdpi-icon.png
  resources/android/icon/drawable-ldpi-icon.png
  resources/android/icon/drawable-mdpi-icon.png
  resources/android/icon/drawable-xhdpi-icon.png
  resources/android/icon/drawable-xxhdpi-icon.png
  resources/android/icon/drawable-xxxhdpi-icon.png
  resources/android/icon/hdpi-foreground.png
  resources/android/icon/ldpi-foreground.png
  resources/android/icon/mdpi-foreground.png
  resources/android/icon/xhdpi-foreground.png
  resources/android/icon/xxhdpi-foreground.png
  resources/android/icon/xxxhdpi-foreground.png
  resources/icon.png
Due: prettier --write

splash screen generated
  android/app/src/main/res/drawable-land-hdpi/splash.png
  android/app/src/main/res/drawable-land-mdpi/splash.png
  android/app/src/main/res/drawable-land-xhdpi/splash.png
  android/app/src/main/res/drawable-land-xxhdpi/splash.png
  android/app/src/main/res/drawable-land-xxxhdpi/splash.png
  android/app/src/main/res/drawable-port-hdpi/splash.png
  android/app/src/main/res/drawable-port-mdpi/splash.png
  android/app/src/main/res/drawable-port-xhdpi/splash.png
  android/app/src/main/res/drawable-port-xxhdpi/splash.png
  android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  android/app/src/main/res/drawable/splash.png
  resources/android/splash/drawable-land-hdpi-screen.png
  resources/android/splash/drawable-land-ldpi-screen.png
  resources/android/splash/drawable-land-mdpi-screen.png
  resources/android/splash/drawable-land-xhdpi-screen.png
  resources/android/splash/drawable-land-xxhdpi-screen.png
  resources/android/splash/drawable-land-xxxhdpi-screen.png
  resources/android/splash/drawable-port-hdpi-screen.png
  resources/android/splash/drawable-port-ldpi-screen.png
  resources/android/splash/drawable-port-mdpi-screen.png
  resources/android/splash/drawable-port-xhdpi-screen.png
  resources/android/splash/drawable-port-xxhdpi-screen.png
  resources/android/splash/drawable-port-xxxhdpi-screen.png
  resources/splash.png
  resources/splash.xcf
Due: none

bump version to 0.0.25
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fixed ui language init bug
  CHANGELOG.md
  config.xml
  src/app/app.module.ts
Due: prettier --write, eslint --fix

share checklist
  CHANGELOG.md
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  src/app/modules/check-list-services/check-list.service.ts
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.ts
  src/app/modules/check-lists/store/check-lists.actions.ts
  src/app/modules/check-lists/store/check-lists.effects.ts
  src/app/modules/check-lists/store/check-lists.reducer.ts
  src/app/modules/check-lists/store/check-lists.selectors.ts
  src/app/modules/check-lists/store/check-lists.state.ts
  src/app/modules/sync-store/sync.effects.ts
  src/app/store/app.actions.ts
  src/app/store/app.effects.ts
  src/index.html
Due: prettier --write, eslint --fix

share to social
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/modules/check-list-services/check-list-db.service.ts
  src/app/modules/check-list-services/check-list.service.ts
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.ts
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

telegram channel link
  CHANGELOG.md
  android/app/src/main/assets/capacitor.config.json
  src/app/pages/about-page/about-page.component.html
  src/assets/i18n/en-US.json
  src/assets/i18n/ru-RU.json
Due: prettier --write

toolbar on page top
  src/app/modules/check-lists/pages/list-page/list-page.component.html
Due: prettier --write

ux imp#1
  CHANGELOG.md
  package-lock.json
  package.json
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.scss
  src/app/modules/check-lists/store/check-lists.selectors.ts
  src/styles/_components.scss
Due: prettier --write, npm run stylelint, eslint --fix

checkbox active region localized
  CHANGELOG.md
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.scss
Due: prettier --write, npm run stylelint

fixed layout
  src/app/modules/check-lists/pages/list-page/list-page.component.scss
Due: prettier --write, npm run stylelint

share checklist options alert
  CHANGELOG.md
  src/app/modules/check-lists/pages/list-page/list-page.component.ts
  src/app/modules/check-lists/store/check-lists.actions.ts
  src/app/modules/check-lists/store/check-lists.effects.ts
  src/app/modules/sync-store/sync.effects.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/ru-RU.json
Due: prettier --write, eslint --fix

select children tree with specified nesting level
  android/app/src/main/assets/capacitor.config.json
  src/app/modules/check-list-services/check-list-db.service.ts
  src/app/modules/check-list-services/check-list-localstorage.service.ts
  src/app/modules/check-list-services/check-list.service.ts
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/store/check-lists.actions.ts
  src/app/modules/check-lists/store/check-lists.effects.ts
Due: prettier --write, eslint --fix

before add permissions plugin
  CHANGELOG.md
  src/app/store/app.effects.ts
Due: prettier --write, eslint --fix

microphone permissions fixing
  CHANGELOG.md
  README.md
  android/app/src/main/AndroidManifest.xml.orig
  android/app/src/main/assets/capacitor.config.json
  android/app/src/main/res/xml/config.xml
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/modules/check-lists/components/checklist-form/checklist-form.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.html
  src/app/modules/check-lists/pages/list-page/list-page.component.ts
  src/app/modules/settings/pages/settings-page/settings-page.component.html
  src/app/modules/settings/pages/settings-page/settings-page.component.ts
  src/app/store/app.effects.ts
  src/assets/i18n/en-US.json
  src/assets/i18n/ru-RU.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{js,json,md,html}) or (any of: *.scss)) or (any of: *.ts)
  npm run stylelint: any of: *.scss
  eslint --fix: any of: *.ts
